<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app uses darksky and mapbox api to show live weather updates.</p>
        <img class="portrait" src="/img/pic.JPG">
    </div>
    
    {{>footer}}
</body>

</html>